<div class='nested-fields'>
    <%= f.input :username, :label => "Enter User Name" %>
    <%= f.input :email, :label => "User Email" %>
    <%= link_to_remove_association "Remove User", f %><br>
</div>