<div class='nested-fields'>
    <%= f.input :username, :label => (I18n.t :enter_user_name) %>
    <%= f.input :email, :label => (I18n.t :enter_user_email) %>
    <%= link_to_remove_association "Remove User", f %><br>
</div>