<div class='nested-fields'>
    <br><%= f.input :username, :label => "Actor Username" %>
    <%= f.input :email, :label => "Actor Email" %>
    <%= link_to_remove_association "Remove Actor", f %><br>
</div>