<h2>Graphical Panel for: <%= @user.username %>! </h2>
<br/>
<img src="<%= @pie_chart %>" alt="Pie Chart">
<br/><br/>
<img src="<%= @bar_chart %>" alt="Bar Chart">
<br/><br/>
<img src="<%= @line_chart %>" alt="Line Chart">
<br/><br/>