<h2>Welcome Controller Unit <%= @user.username %>! </h2>
<%= link_to "Input Framework", input_framework_path %><br>
<%= link_to "Send Form to Providers", forms_path %><br>
<%= link_to "Edit Users", edit_users_path %><br>