<h2>Welcome Controller Unit <%= @user.username %>! </h2>
<%= link_to "Input Framework", goals_path %><br>
<%= link_to "Setup System", setup_system_path %><br>
<%= link_to "Edit Users", edit_users_path %><br>