<div class='nested-fields'>
    <%= f.input :email, :as => :select, :size => 10, :multiple => true, :label => (I18n.t :actor_email) %>
    <%= link_to_remove_association "Remove Actor", f %><br>
</div>