// Place all the styles related to the Authentication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.screen
{
   background-color:#E8E8E8; 
   width:275px;
   padding:10px;
   border:2px solid #6666FF;
   height:175px;
}
.msgscreen
{
  background-color: #E0E0E0;
  width:200px;
  border:1px dashed #6666FF;
  margin-bottom: 10px;
}
