<p>Welcome <%= @email %>!</p>

<% if @resource.temp_password == nil %>
	<p>Your temporary password is <%= @resource.temp_password %>  Please navigate to edit registration to change this password after confirming your account. </p>
<% end %>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
