<p><%= t '.welcome_3', :email => (@email) %>!</p>

<% if @resource.temp_password == nil %>
	<p><%= t '.your_temporary', :resource_temp => (@resource.temp_password) %> </p>
<% end %>

<p><%= t '.you_can' %></p>

<p><%= link_to (t '.confirm_my'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
