<h2><%= t '.welcome_1', :user_username => (@user.username) %>! </h2>
<%= link_to (t '.unchecked_2'), unchecked_path %><br>
<%= link_to (t '.saved_forms_2'), saved_path %><br>
<%= link_to (t '.create_new'), activities_path %><br>